body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial';
    color: white;
}

header {
    position: fixed;
    background-color: #334EAC;
    inset-inline-end: 0;
    inset-inline-start: 0;
    z-index: 100;
    color: white;
    top: 0;
}

main {
    margin: 200px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 2%;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    align-items: center;
    padding: 0 2.5%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

nav > .logo > img {
    width: 28px;
    height: auto;
}

nav > .logo > h4 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;

}

svg {
    color: white;
    display: none;
}

.info {
    display: flex;
    width: 100%;
    gap: 70vh;
    margin: 5vh 0;
}

.tahun-ajar {
    display: flex;
    align-items: center;
    gap: 5%;
}

.tahun-ajar > h4 {
    white-space: nowrap;
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter > select {
    padding: 3%;
    border-radius: 5px;
    border-color: #142257;
    color: #142257;
    font-weight: 600;
}

.filter > select:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
    background-color: bisque;
    margin: 5vh 0;
}

th {
    font-weight: 500;
    
}

table, th, td {
    border-top: 2px solid white;
    padding: 1.5%;
    text-align: left;
}

table > thead {
    background-color: #334EAC;
    color: white;
}

table tbody {
    background-color: rgb(214, 214, 214);
}

#check {
    display: none;
}

button {
    width: 100%;
    padding: 1.25% 0;
    border-style: none;
    background-color: #1c2f75;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #142257;
}

.column-status {
    background-color: #14A44D;
    color: white;
    
}

.section-info {
    display: flex;
    justify-content: space-between;
    margin: 7% 11%;
    gap: 25vh;
    align-items: center;
}

.text-info {
    color: black;
    letter-spacing: 1px;
}

.text-info > h1{
    font-size: 36px;
    font-weight: 500;
}

.text-info > p {
    font-size: 20px;
}

.section-info > img {
    width: 180px;
    height: 180px;
}

.section-task {
    color: black;
    margin: 7% 11%;
    padding: 0;
}

.section-task > h1 {
    margin: 5% 0;
}

footer {
    position: fixed;
    background-color: rgb(36, 36, 36);
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 0.5% 0;
    bottom: 0;
    width: 100%;
    font-size: small;
    color: rgb(160, 160, 160);
}

@media (max-width: 1533px) {    
    .info {
        gap: 20vh;
    }

    table, th, td {
        font-size: 12.5px;
    }

    .section-info {
        margin: 7% 7%;
    }

    .section-task {
        margin: 7% 7%;
    }

    button {
        padding: 2% 0;
        font-size: 10px;
    }
}

@media (max-width: 823px) {
    .section-info {
        margin: 7% 7%;
        gap: 5vh;
    }

    .section-task {
        margin: 7% 7%;
    }

    .text-info > h1 {
        font-size: 18px;
    }

    .text-info > p {
        font-size: 10px;
    }

    .section-info > img {
        width: 70px;
        height: 70px;
    }

    .info {
        gap: 0vh;
        flex-direction: column;
    }

    .filter {
        flex-direction: column;
        gap: 0.5vh;
    }
    
    .filter > select {
        padding: 3%;
        border-radius: 5px;
        width: 100%;
        
    }

    table {
        border-radius: 5px;

    }

    table, th, td {
        font-size: 5.5px;
    }

    svg {
        color: white;
        display: block;
    }

    ul {
        position: fixed;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        background-color: #283976;
        height: 100vh;
        top: 10vh;
        text-align: center;
        margin: 0;
        padding: 0;
        right: -100%;
        transition: all .5s;
    }

    nav > ul > li {
        display: block;
        padding: 2%;
        margin: 2% 0;
    }

    header {
        padding: 0 3%;

    }
    
    #check:checked ~ ul {
        right: 0;
    }

    button {
        padding: 3% 0;
        font-size: 8px;
    }
}
/* 
button {
    width: 100%; 
    padding: 1.25% 0;
    background-color: #283976;
    border: 1px solid #ccc;
    color: white;
    font-size: 15px;
    text-align: center;
} */
